<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddit.proj.mapper.DormitoryAdminMapper">
	
	<!-- 사생목록 조회 -->
	<select id="dormitoryList" resultType="DormitoryApplyFormVO" parameterType="hashMap">
	    SELECT
	        a.mem_no mem_no,
	        a.mem_nm mem_nm,
	        a.mem_tel mem_tel,
	        a.mem_tel2 mem_tel2,
	        c.dep_nm dep_nm,
	        d.dora_gender dora_gender,
	        d.dora_yr || '년 ' || d.dora_sem || '학기' life_period,
	        e.dor_nm_code dor_nm_code,
	        e.dor_no dor_no
	    FROM
	        member a
	        INNER JOIN student b ON a.mem_no = b.mem_no
	        INNER JOIN department c ON b.dep_code = c.dep_code
	        INNER JOIN dor_application d ON a.mem_no = d.stu_mem_no
	        INNER JOIN dormitory e ON d.dor_code = e.dor_code
	    <include refid="where" />
	    	ORDER BY a.mem_nm
	</select>
	
	<!-- 사생 상세보기 -->
	<select id="detailDormi" parameterType="DormitoryApplyFormVO" resultType="DormitoryApplyFormVO">
			SELECT
			    a.mem_no mem_no,
			    a.mem_nm mem_nm,
			    a.mem_nme mem_nme,
			    a.mem_tel mem_tel,
			    a.mem_tel2 mem_tel2,
			    c.dep_nm dep_nm,
			    d.dora_gender dora_gender,
			    d.dora_yr || '년 ' || d.dora_sem || '학기' life_period,
			    e.dor_nm_code dor_nm_code,
			    e.dor_no dor_no,
			    d.dorm_rewards dorm_rewards,
			    d.dorm_penalties dorm_penalties,
			    m.mem_zip mem_zip,
			    m.mem_addr1 mem_addr1,
			    m.mem_addr2 mem_addr2,
			    m.mem_depo mem_depo,
			    m.mem_account mem_account
			FROM
			    member a
			    INNER JOIN student b ON a.mem_no = b.mem_no
			    INNER JOIN department c ON b.dep_code = c.dep_code
			    INNER JOIN dor_application d ON a.mem_no = d.stu_mem_no
			    INNER JOIN dormitory e ON d.dor_code = e.dor_code
			    INNER JOIN member m ON a.mem_no = m.mem_no
			WHERE a.mem_no = #{memNo}
	</select>
	
	<!-- 상/벌점 부여 -->
	<update id="giveScore" parameterType="DormitoryApplyFormVO">
			UPDATE dor_application
			SET
			    dorm_rewards = dorm_rewards + #{dormRewards},
			    dorm_penalties = dorm_penalties + #{dormPenalties}
			WHERE
			    stu_mem_no = #{memNo}
	</update>
	
	<sql id="where">
	    <if test="keyword != null and keyword != ''">
	        AND (
	            a.mem_no LIKE '%' || #{keyword} || '%'
	            OR a.mem_nm LIKE '%' || #{keyword} || '%'
	            OR e.dor_nm_code LIKE '%' || #{keyword} || '%'
	            OR e.dor_no LIKE '%' || #{keyword} || '%'
	            OR d.dora_gender LIKE '%' || #{keyword} || '%'
	        )
	    </if>
	</sql>
	
</mapper>