<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddit.proj.mapper.MemberMapper">
	<resultMap type="memberVO" id="memberMap">
		<result property="rnum" column="RNUM" />
		<result property="memBir" column="MEM_BIR" />
		<result property="memNo" column="MEM_NO" />
		<result property="memPass" column="MEM_PASS" />
		<result property="memDelYn" column="MEM_DEL_YN" />
		<result property="memNm" column="MEM_NM" />
		<result property="memNme" column="MEM_NME" />
		<result property="memTel" column="MEM_TEL" />
		<result property="memTel2" column="MEM_TEL2" />
		<result property="memZip" column="MEM_ZIP" />
		<result property="memAddr1" column="MEM_ADDR1" />
		<result property="memAddr2" column="MEM_ADDR2" />
		<result property="memPic" column="MEM_PIC" />
		<result property="memDepo" column="MEM_DEPO" />
		<result property="memBankCode" column="MEM_BANK_CODE" />
		<result property="codeNm" column="CODE_NM" />
		<result property="memMl" column="MEM_ML" />
		<result property="memColCode" column="MEM_COL_CODE" />
		<result property="memDepCode" column="MEM_DEP_CODE" />
		<result property="memEmpSe" column="MEM_EMP_SE" />
		<result property="memEmpDv" column="MEM_EMP_DV" />
		<result property="memType" column="MEM_TYPE" />
		<result property="memAccount" column="MEM_ACCOUNT" />
		<!-- 여러 개의 권한 -->
		<collection property="authVOList" resultMap="authMap" />
	</resultMap>
	
	<resultMap type="authVO" id="authMap" >
		<result property="author" column="AUTHOR" />
		<result property="memNo" column="MEM_NO" />
	</resultMap>
	
	<select id="read" resultMap="memberMap" parameterType="String">
		SELECT mem.MEM_NO
			, MEM_PASS
			, MEM_DEL_YN
			, MEM_NM, MEM_NME
			, MEM_TEL
			, MEM_TEL2
			, MEM_ACCOUNT
			, MEM_ZIP
			, MEM_ADDR1
			, MEM_ADDR2
			, MEM_PIC
			, MEM_DEPO
			, MEM_BANK_CODE
			, (SELECT CODE_NM FROM CODE WHERE GROUP_ID = 'BANK' AND CODE_ID = MEM_BANK_CODE) CODE_NM
			, MEM_ML
			, MEM_BIR
			, AUTHOR
		FROM MEMBER mem
		INNER JOIN AUTHORITY auth ON mem.MEM_NO = auth.MEM_NO
		WHERE mem.MEM_NO = #{memNo}
	</select>
	
<!-- 	<select id="listMember" resultType="memberVO"> -->
<!-- 		SELECT MEM_NO, MEM_PASS, MEM_DEL_YN, MEM_NM, MEM_NME -->
<!-- 		         , MEM_TEL, MEM_TEL2, MEM_ZIP, MEM_ADDR1, MEM_ADDR2 -->
<!-- 		         , MEM_PIC, MEM_DEPO, MEM_BANK_CODE, MEM_ML, MEM_BIR -->
<!-- 		FROM   MEMBER -->
<!-- 		ORDER BY MEM_NO ASC -->
<!-- 	</select> -->
	<select id="listMember" resultMap="memberMap" parameterType="hashMap">
		WITH U AS (
		    SELECT ROW_NUMBER() OVER (ORDER BY MEM_NO ASC) AS RNUM
		           , MEM_NO
		           , MEM_TYPE
		           , MEM_PASS
		           , MEM_DEL_YN
		           , MEM_NM
		           , MEM_NME
		           , MEM_TEL
		           , MEM_TEL2
		           , MEM_ZIP
		           , MEM_ADDR1
		           , MEM_ADDR2
		           , MEM_PIC
		           , MEM_DEPO
		           , MEM_BANK_CODE
		           , MEM_ML
		           , MEM_BIR
		           , MEM_COL_CODE
		           , MEM_DEP_CODE
		           , MEM_EMP_SE
		           , MEM_EMP_DV
		    FROM MEMBER
		    WHERE MEM_DEL_YN = 'N'
		    <include refid="where"></include>
		)
		SELECT MEM_NO
			, MEM_TYPE
			, MEM_PASS
			, MEM_DEL_YN
			, MEM_NM
			, MEM_NME
			, MEM_TEL
			, MEM_TEL2
			, MEM_ZIP
			, MEM_ADDR1
			, MEM_ADDR2
			, MEM_PIC
			, MEM_DEPO
			, MEM_BANK_CODE
			, MEM_ML
			, MEM_BIR
			, MEM_COL_CODE
		    , MEM_DEP_CODE
		    , MEM_EMP_SE
		    , MEM_EMP_DV
		FROM U
		WHERE RNUM BETWEEN ((#{currentPage} - 1) * #{size} + 1) AND (#{currentPage} * #{size})	
		ORDER BY MEM_NO ASC
	</select>
		              	
	<select id="getMember" parameterType="MemberVO" resultType="MemberVO">
		select * from member where mem_no = #{memNo}
	</select>
	
	<!-- 라디오버튼 체크시 해당하는 학번/교번 자동 생성 -->
	<select id="chooseMemNo" resultType="String" parameterType="String">
		SELECT
		<choose>
			<when test="memberType=='학생'">
				NVL(SUBSTR(MAX(MEM_NO),1,7) || TRIM(TO_CHAR(SUBSTR(MAX(MEM_NO),8)+1,'000')),TO_CHAR(SYSDATE,'YYYYMM')||'S001') memNO
			</when>
			<when test="memberType=='교수'">
				NVL(SUBSTR(MAX(MEM_NO),1,7) || TRIM(TO_CHAR(SUBSTR(MAX(MEM_NO),8)+1,'000')),TO_CHAR(SYSDATE,'YYYYMM')||'P001') memNO
			</when>
			<when test="memberType=='교직원'">
				NVL(SUBSTR(MAX(MEM_NO),1,7) || TRIM(TO_CHAR(SUBSTR(MAX(MEM_NO),8)+1,'000')),TO_CHAR(SYSDATE,'YYYYMM')||'E001') memNO
			</when>
		</choose>
			FROM MEMBER
			WHERE MEM_NO LIKE 
		<choose>
			<when test="memberType=='학생'">
				TO_CHAR(SYSDATE,'YYYYMM')||'S' || '%'
			</when>
			<when test="memberType=='교수'">
				TO_CHAR(SYSDATE,'YYYYMM')||'P' || '%'
			</when>
			<when test="memberType=='교직원'">
				TO_CHAR(SYSDATE,'YYYYMM')||'E' || '%'
			</when>
		</choose>
	</select>
	
	<!-- //memberVO : MemberVO(rnum=0, memNo=2019001, memPass=null, memDelYn=null, memNm=2, memNme=null, memTel=4, 
		//memTel2=null, memZip=0, memAddr1=null, memAddr2=null, memPic=null, memDepo=null, memBankCode=null, 
		//memMl=null, memBir=2023-09-11, authVOList=null, professorVO=null, departmentVO=null -->
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO MEMBER (MEM_NO, MEM_TYPE, MEM_PASS, MEM_NM, MEM_NME, MEM_TEL, MEM_TEL2, MEM_ZIP, MEM_ADDR1, MEM_ADDR2, MEM_PIC, MEM_DEPO, MEM_BANK_CODE, MEM_ML, MEM_BIR, MEM_COL_CODE, MEM_DEP_CODE, MEM_EMP_SE, MEM_EMP_DV)
		VALUES (#{memNo}, #{memType}, #{memPass},  #{memNm}, #{memNme}, #{memTel}, #{memTel2}, #{memZip}, #{memAddr1}, #{memAddr2}, #{memPic}, #{memDepo}, #{memBankCode}, #{memMl}, #{memBir}, #{memColCode}, #{memDepCode}, #{memEmpSe}, #{memEmpDv})
	</insert>
	
	<update id="updateMember" parameterType="MemberVO">
	    UPDATE MEMBER
	    SET
	    MEM_TYPE = #{memType},
	    MEM_PASS= #{memPass},
	    MEM_NM= #{memNm},
	    MEM_NME= #{memNme},
	    MEM_TEL= #{memTel},
	    MEM_TEL2= #{memTel2},
	    MEM_ZIP= #{memZip},
	    MEM_ADDR1= #{memAddr1},
	    MEM_ADDR2= #{memAddr2},
	    MEM_PIC= #{memPic},
	    MEM_DEPO= #{memDepo},
	    MEM_BANK_CODE= #{memBankCode},
	    MEM_ML= #{memMl},
	    MEM_BIR = #{memBir},
		MEM_COL_CODE = #{memColCode},
		MEM_DEP_CODE = #{memDepCode},
		MEM_EMP_DV = #{memEmpDv},
		MEM_EMP_SE = #{memEmpSe}
	    WHERE
	    MEM_NO= #{memNo}
	</update>

	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET MEM_DEL_YN = 'Y'
		WHERE MEM_NO = #{memNo}
	</update>
	
	<update id="pwUpdateAll" parameterType="string">
		UPDATE MEMBER
		SET
		MEM_PASS= #{password}
	</update>
	
	<select id="listAuth" resultType="AuthVO">
		SELECT * FROM AUTHORITY
	</select>
	
	<select id="getAuth" parameterType="AuthVO" resultType="AuthVO">
		select * from AUTHORITY where mem_no = #{memNo}
	</select>
	
	<insert id="addAuth" parameterType="AuthVO">
		INSERT INTO AUTHORITY(AUTHOR, MEM_NO)
		VALUES(#{author}, #{memNo});
	</insert>

	<delete id="deleteAuth" parameterType="AuthVO">
		delete from AUTHORITY where MEM_NO = #{memNo}
	</delete>
	
	<select id="detail" parameterType="String" resultMap="memberMap">
		SELECT mem.MEM_NO
			, MEM_PASS
			, MEM_DEL_YN
			, MEM_NM
			, MEM_NME
			, MEM_TEL
			, MEM_TEL2
			, MEM_ZIP
			, MEM_ADDR1
			, MEM_ADDR2
			, MEM_PIC
			, MEM_DEPO
			, MEM_BANK_CODE
			, MEM_ML
			, MEM_BIR
			, AUTHOR
		FROM MEMBER mem
		INNER JOIN AUTHORITY auth ON mem.MEM_NO = auth.MEM_NO
		WHERE mem.MEM_NO = #{memNo}
	</select>
	
<!-- 	<select id="listMemberPage" resultMap="memberMap" parameterType="hashMap"> -->
<!-- 	    WITH U AS ( -->
<!-- 	        SELECT ROW_NUMBER() OVER (ORDER BY MEM_NO DESC) AS RNum, -->
<!-- 	               MEM_NO, MEM_PASS, MEM_DEL_YN, MEM_NM, MEM_NME, -->
<!-- 	               MEM_TEL, MEM_TEL2, MEM_ZIP, MEM_ADDR1, MEM_ADDR2, -->
<!-- 	               MEM_PIC, MEM_DEPO, MEM_BANK_CODE, MEM_ML, MEM_BIR -->
<!-- 	        FROM MEMBER -->
<!-- 	        WHERE MEM_DEL_YN = 'N' -->
<!-- 	    ) -->
<!-- 	    SELECT RNum, MEM_NO, MEM_NM, MEM_BIR, MEM_TEL -->
<!-- 	    FROM U -->
<!-- 	    WHERE RNum BETWEEN (#{currentPage} * #{size}) - (#{size}-1) -->
<!-- 	                   AND (#{currentPage} * #{size}) -->
<!-- 	</select> -->
	
<!-- 	<select id="getMemberListTotal" parameterType="hashMap" resultType="int"> -->
	<select id="getMemberTotal" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) FROM MEMBER
  		WHERE MEM_DEL_YN = 'N'
  		<include refid="where"></include>
	</select>
	
	<sql id="where">
		<if test="keyword!=null and keyword!=''">
		AND MEM_NO LIKE '%' || #{keyword} || '%'
		</if>
	</sql>
	
	<!-- 각 단과대에 해당하는 학과 불러오기 -->
	<select id="codeIdList" parameterType="string" resultType="CodeDetailVO">
		select * from code_detail WHERE CODE_ID = #{codeId}
	</select>
	
	<!-- 교직원 부서 불러오기 -->
	<select id="codeIdList2" parameterType="string" resultType="CodeVO">
		select * from code where group_id = 'EMPD'
	</select>
	
	<!-- 교직원 재직구분 불러오기-->
	<select id="codeIdList3" parameterType="string" resultType="CodeVO">
		select * from code where group_id = 'EMPL'
	</select>
	
	 	<!-- MEM_COL_CODE를 MEM_COL_NM으로 나타내기, 나중에 수정하장-->
<!-- 	<select id="codeNmList" parameterType="String" resultType="MemberVO"> -->
<!-- 		SELECT C.CODE_NM -->
<!-- 		FROM MEMBER M -->
<!-- 		JOIN CODE C ON M.MEM_COL_CODE = C.CODE_ID -->
<!-- 	</select> -->
	<!-- memType : 학생-->
	<insert id="studentInsert" parameterType="memberVO">
		INSERT INTO STUDENT(MEM_NO, DEP_CODE, MEM_NM) VALUES(#{memNo},#{memDepCode},#{memNm})
	</insert>
	
	<!-- memType : 교수-->
	<insert id="professorInsert" parameterType="memberVO">
		INSERT INTO PROFESSOR(MEM_NO, DEP_CODE, MEM_NM) VALUES(#{memNo},#{memDepCode},#{memNm})
	</insert>
	
	<!-- memType : 교직원-->
	<insert id="employeeInsert" parameterType="memberVO">
		INSERT INTO EMPLOYEE(MEM_NO, CODE_EMP_DV, MEM_NM) VALUES(#{memNo},#{memEmpDv},#{memNm})
	</insert>		
		
	
</mapper>






